# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
.env.*
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
dist/
build/
*.egg-info/

# Editors/IDEs
.vscode/
.idea/

# Logs
*.log

.env
__pycache__/
.DS_Store
.venv/